<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
     </head>
  <body>
    {{>header}}
    <h1>Help from a Static file</h1>
    <p>{{helpText}}</p>
    {{>footer}}
  </body>
</html>